{% trans_default_domain 'FOSUserBundle' %}

<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{ asset('bundles/news/assets/images/anonymous.jpg') }}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title text-center">{{ user.username }}</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ 'profile.show.username'|trans }}: {{ user.username }}</li>
        <li class="list-group-item">{{ 'profile.show.email'|trans }}: {{ user.email }}</li>
        <li class="list-group-item">{{ 'profile.show.last'|trans }}: {{ app.user.lastLogin|date('Y-m-d H:i:s') }}</li>
        <li class="list-group-item">{{ 'profile.show.roles'|trans }}:
            {% for role in app.user.roles %}
                {{ role }}
                {% if false == loop.last %}
                {% endif %}
            {% endfor %}</li>
    </ul>
    <div class="card-block">
        <a href="#" class="card-link">Към началната страница</a>
        <a href="{{ path('fos_user_security_logout') }}" class="card-link">Logout</a>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="fos_user_user_show">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        </div>
    </div>
</div>
